body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
}
body > .underConstruct {
    font-size: 5em;
    color: black;
}